table.glgrid {
	font-size:70%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	color: #333;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
}

table.glgrid caption {
	padding-bottom:1em;
	text-align: left;
	font-weight:bold;
	text-transform: uppercase;
	color: #4F76A3;
	background: transparent;
}
  
table.glgrid thead th, table.glgrid tfoot th, table.glgrid tfoot td {
	font-family: arial, verdana, sans-serif;
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	color: #4F76A3;
	background: #E3F1FA;
}
table.glgrid tbody td, table.glgrid tfoot td {
	text-align:right;
}
table.glgrid thead th{
	text-align:center;
}
table.glgrid tbody th, table.glgrid tfoot th {
	text-align:left;
	font-weight:normal;
}
  
table.glgrid tfoot th, table.glgrid tfoot td {
	border-top: 2pt double #009;
}

table.glgrid td, table.glgrid th {
	padding:4px;
}

table.glgrid tbody tr th, table.glgrid tbody tr td {
	border-bottom: 1px dotted #009;
}

table.glgrid tbody tr:hover td, table.glgrid tbody tr:hover th {
	border-bottom: 1px solid #333;
}

table.glgrid tbody td a, table.glgrid tbody th a {
	background: transparent;
	color: #009;
	text-decoration: none;
	border:none;
}

table.glgrid tbody td a:hover, table.glgrid tbody th a:hover {
	background: transparent;
	color: #930;
}

table.glgrid .odd {
	background: #F2FEF1;
}

table.glgrid tbody tr:hover {
	color: #333;
	background: #EFF9FF;
}

table.glgrid tbody tr th:hover {
	background:#fff;
}

table.glgrid a:visited {
	text-decoration: line-through;
	color:#ccc;
}