table {
	font-size:90%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	color: #333;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
}

caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
thead th, tfoot th, tfoot td {
	font-family: arial, verdana, sans-serif;
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #fff;
	background: #009;
}
  
tfoot th, tfoot td {
	border-top: 2pt double #009;
}

td, th {
	padding:4px;
}

tbody tr th, tbody tr td {
	border-bottom: 1px dotted #009;
}

tbody tr:hover td, tbody tr:hover th {
	border-bottom: 1px solid #333;
}

table a[title^="Download"] { 
	font-style:italic;
}

tbody td a, tbody th a {
	background: transparent;
	color: #009;
	text-decoration: none;
	border:none;
}

tbody td a:hover, tbody th a:hover {
	background: transparent;
	color: #930;
}

.odd {
	background: #e3e3f4;
}

tbody tr:hover {
	color: #333;
	background: #c6c6e8;
}

tbody tr th:hover {
	background:#fff;
}

table a:visited {
	text-decoration: line-through;
	color:#ccc;
}