table.gridtable, table.gridtable th, table.gridtable td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

table.gridtable caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

table.gridtable td, table.gridtable th {
	padding: 4px;
}

table.gridtable thead th {
	text-align: center;
	background: #f4f4f4;
	color: #414476;
	font-size: 100% !important;
}

table.gridtable tbody th {
	font-weight: bold;
}

table.gridtable tbody tr { background: #FCFDFE; }

table.gridtable tbody tr.odd { background: #F7F9FC; }

table.gridtable a:link {
	color: #718ABE;
	text-decoration: none;
}

table.gridtable  a:visited {
	color: #718ABE;
	text-decoration: none;
}

table.gridtable  a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

table.gridtable tfoot th, table.gridtable tfoot td {
	font-size: 85%;
}